<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark indigo">

    <!-- Navbar brand -->
    <mdb-navbar-brand><a class="navbar-brand" href="#">Order Now</a></mdb-navbar-brand>

    <!-- Collapsible content -->
    <links>

        <!-- Links -->
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link waves-light" routerLink="/landing"  routerLinkActive mdbWavesEffect>Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link waves-light" routerLink="/menu" routerLinkActive mdbWavesEffect>Menu</a>
            </li>
            <li class="nav-item">
                <a class="nav-link waves-light" routerLink="/signin" routerLinkActive mdbWavesEffect>Login</a>
            </li>

        

        </ul>
        


        
    </links>
    

</mdb-navbar>
