

<form class="text-center border border-light p-5">

    <p class="h4 mb-4">Order confirmation</p>
  
    <p>Your are about to make an order</p>
  
    <p>
      <a>See the order details</a>
    </p>
  
    <!-- Name -->
    <input type="text" id="defaultSubscriptionFormPassword" class="form-control mb-4" placeholder="Name">
  
    <!-- Email -->
    <input type="text" id="defaultSubscriptionFormEmail" class="form-control mb-4" placeholder="phone number to recieve order">
  
    <!-- Sign in button -->
    <button mdbBtn color="info" type="submit">Place order</button>
  
  </form>
  <div class="text-center" >
<mdb-icon routerLink="/menu" fas icon="angle-double-left" size="3x"></mdb-icon>
</div>