<div class="row justify-content-md-center" >
    <div class="col-md-4">
<mdb-card>
  <!--Card image-->
  <mdb-card-img src="/assets/spatlo.jpg" alt="Card image cap"></mdb-card-img>
  <!--Card content-->
  <mdb-card-body>

    <!--Title-->
    <mdb-card-title>
      <h4>spatlo name</h4>
    </mdb-card-title>

    <!--Text-->
    <mdb-card-text> 
        <ul class="list-group">
            <li class="list-group-item">Chips</li>
            <li class="list-group-item">Palony</li>
            <li class="list-group-item">Russain</li>
            <li class="list-group-item">Cheese</li>
            <li class="list-group-item">Vienna</li>
            <li class="list-group-item">Price : R<span>22</span></li>
          </ul>
    </mdb-card-text>

    <a routerLink="/order" mdbBtn color="primary" mdbWavesEffect>Order</a>
  </mdb-card-body>
</mdb-card>
</div>
</div>